@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



/* shared style */
.display-flex {
    display: flex;


}


.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}


.primary-color {
    color: #131313;
}


.secondary-color {
    color: #424242;
}


.tertiary-color {
    color: #727272;
}

.orange{
    color: #FF900E;
}


.btn-primary{
    background-color:#FF900E ;
    color:#FFFFFF ;
    padding:20px 25px ;
    font-size: 1.25rem;
    font-weight: 600px;
    border-radius: 8px;
    border: none;
}

/* header style */
/* nav style */

.navbar {
    justify-content: space-between;
    align-items: center;
}


.brand {
    font-size: 2.9rem;
    font-weight: 700;
}


.nav-item {
    list-style: none;
    margin-right: 50px;

}


.nav-links {
    font-size: 1rem;
    font-weight: 500;
}


.nav-link {
    text-decoration: none;
}


.navbar,.banner{
    max-width:1440px;
    margin: 0 auto;
}


.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;

}


/* banner related style */
.banner-content{
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem ;
    font-weight: 700;
}


.banner-img-container{
    width: 100%;
    margin: 0;
    padding-bottom: 40px;

}

.banner-img{
    width: 100%;
}


/* main section style */
main{
    max-width: 1440px;
    margin: 0 auto;
}


main> section{
    margin-top: 130px;
}


/* teams related style */
.teams{
    justify-content: center;
    align-items: center;
    gap: 75px;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}


.our-features{
    max-width: 530px;

}


#quick-list{
    font-weight: 500;

}

/* some-facts related style */
.fact-description{
    max-width: 540px;
    margin-top: 24px;
    margin-bottom: 50px;

}


.facts-container{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    
}


.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;

}


.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;

}


.fact-name{
    font-size:1.25rem;
    font-weight: 600;
    margin-top: 10px;

}


/* media Query */
/* small devices */
@media screen and (max-width:576px){
    .navbar,
    .nav-links,
    .teams
    {
        flex-direction: column;
    }

    .nav-links{
        padding: 0;
    }

    /* teams query */
    .team-img-container{

        grid-template-columns: repeat(1, 1fr);

    }

    .teams{
        flex-direction:column-reverse;
        
    }

}

/* medium devices */
@media screen and (min-width:576px) and (max-width:992px){
    .teams{
        flex-direction: column;
    }

    .our-features{
        text-align: center;

    }

}





